# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# IDE files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# env files (can opt-in for committing if needed)
.env

# cypress files
/cypress/results/*
/cypress/screenshots/*

# production
/dist

# docs
/docs

# dependencies
/node_modules

# vitest files
/tests/coverage/*
/tests/results/*

#
tsconfig.tsbuildinfo
