# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# IDE files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# env files (can opt-in for committing if needed)
.env

# cypress files
/cypress/screenshots/*

# production
/dist

# testing
/coverage

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# dependencies
/node_modules

#
tsconfig.tsbuildinfo