{
  "plugins": ["@trivago/prettier-plugin-sort-imports"],
  "singleQuote": false,
  "jsxSingleQuote": false,
  "arrowParens": "always",
  "printWidth": 120,
  "tabWidth": 2,
  "useTabs": false,
  "endOfLine": "auto",
  "importOrder": [
    "<THIRD_PARTY_MODULES>",
    "^@/ui/(.*)$",
    "^@/(auth-config.*)",
    "^@/constants/(.*)$",
    "^@/types/(.*)$",
    "^@/schemas/(.*)$",
    "^@/lib/(.*)$",
    "^@/components/(.*)$",
    "^@/providers/(.*)$",
    "^@/hooks/(.*)$",
    "^@/queries/(.*)$",
    "^@/layouts/(.*)$",
    "^@/pages/(.*)$",
    "^@/(.*)"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
